**/__pycache__
/test
/recon
/tempExpDir
/tempFiles
/Data
/datasetOld
/data
/dataset
/ExtraData
/pretrainedModels
/experiments
/trainedModels
/unneededFiles
*.out
*.blend
*.exr
*.h5
*.png
*.svg
*.zip
*.py~
*.torch
*.t7
*.pkl
*.lua~
*.swp
*.pth
